.quickview {
  display: flex;
  justify-content: center;
}

.quickview-item {
  margin: 12px;
  padding: 12px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background-color: #e6e6e6;
}
.quickview-item img {
  height: 290px;
}

.quickview-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quickview-contents input {
  margin: 6px 0px 24px 0px;
  padding-left: 12px;
  width: 78px;
  height: 30px;
}

.quickview-contents button {
  border: none;
  width: 260px;
  height: 40px;
  font-size: 14px;
  color: white;
  background-color: black;
  margin-bottom: 12px;
  transition: all 0.2s;
}

.quickview-contents button:hover {
  color: black;
  background-color: white;
  border: 2px solid;
}

.quickview-contents a {
  color: black;
  font-size: 12px;
}

.exit-button {
  align-self: flex-start;
  padding: 6px 12px;
  color: red;
  border: none;
  background-color: #e6e6e6;
}

/*BACKDROP & OVERLAY---------------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
