/*GLOBAL CSS INFO---------------------------------------*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  margin-bottom: 160px;
}

.btn {
  width: 265px;
  height: 45px;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border: 1px solid;
  transition: all 0.2s;
}

.btn:hover {
  color: white;
  background-color: black;
}

/*FOOTER CONTENTS---------------------------------------*/
.footer-contents h1 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 54px;
}

.footer-contents div {
  margin-bottom: 24px;
}

.address {
  width: 200px;
}
/*FOOTER INPUT------------------------------------------*/
.footer-input input {
  display: block;
  width: 236px;
  height: 40px;
  margin-bottom: 32px;
  padding-left: 24px;
  border: none;
  border-bottom: 1px solid;
  transition: border 0.2s;
}
.footer-input input:-webkit-autofill,
.footer-input input:hover,
.footer-input input:active {
  border-bottom: 2px solid;
}

#map {
  height: 180px;
}
